data/fasta-protein/chromosome/seqdb.fasta.ssi
results/homclust/**
results/define-core-accessory-hieranoid*/**
results/phylosift/**
bin/.Rhistory
documents/manuscript.aux
documents/manuscript.bbl
documents/manuscript.blg
documents/manuscript.log
documents/manuscript.out
documents/manuscript.synctex.gz
