homclust_results/clusters
homclust_results/merged-jackhmmer.domtblout
homclust_results/monster-families
homclust_results/orfans.fasta
homclust_results/orfans-seqdb-jackhmmer.domtblout
homclust_results/singletons
homclust_results/temp
homclust_results/unique-sequence-clusters
sequences/fasta-protein/chromosome/seqdb.fasta.ssi
