results/homclust/clusters
results/homclust/merged-jackhmmer.domtblout
results/homclust/monster-families
results/homclust/orfans.fasta
results/homclust/orfans-seqdb-jackhmmer.domtblout
results/homclust/singletons
results/homclust/temp
results/homclust/unique-sequence-clusters
results/homclust/Citrobacter_rodentium_ICC168_FN543502_v1-seqdb-jackhmmer.domtblout
results/logos/logos.txt
sequences/fasta-protein/chromosome/seqdb.fasta.ssi
EggNOG
dcgo/pfam
test-trees/phyla-amphora-markers
test-trees/phylosift-markers
results/single-copy-genes
results/duplication_distance_calculator
